<!--
Preston Loveland
Assignment 10
Section 1 group 11
-->
@{
    ViewData["Title"] = "Home Page";
}

@model IndexViewModel

<!--for title from controller, what is sent through the view componenet as the name of the team-->
<h1 class="text-center">@ViewBag.TeamName</h1>

<!--goes through all of the bowlers passed to the view and prints out their information-->

@foreach (var x in Model.Bowlers)
{
    <p class="font-weight-bold">@x.BowlerFirstName @x.BowlerMiddleInit @x.BowlerLastName</p>
    <p>@x.BowlerAddress @x.BowlerCity @x.BowlerState @x.BowlerZip </p>
    <p>@x.BowlerPhoneNumber</p>
    <br />
}
<div class="btn-group pull-right m-1" page-info="@Model.PageNumbering" page-url-team="@Model.Team" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-primary">

</div>